

<!-- Sidebar -->
<div class="sidebar">
  <ul>
    <br>
    <hr>
    <li (click)="navigateToInfo()">
      <i class="fa-solid fa-circle-info"></i> Information
    </li>
    <li (click)="navigateToAppointments()">
      <i class="fa-solid fa-calendar-check"></i> Appointments
    </li>
    <li (click)="navigateToSignIn()">
      <i class="fa-solid fa-right-from-bracket"></i> Sign out
    </li>
  </ul>
</div>

<!-- Main Content -->
<!-- User Info at the top right -->
<div class="d-flex justify-content-end align-items-center mb-3">
  <i class="fa-regular fa-circle-user me-2"></i>
  <strong>Hello, {{ patientName }}</strong>
</div>
<div class="main-content">
  <!-- Summary Tab -->
  <div *ngIf="activeTab === 'summary' && userID" class="card-container">
    <app-patient-summary [userID]="userID"></app-patient-summary>
  </div>

  <!-- Appointments Tab -->
  <div *ngIf="activeTab === 'appointments' && userID" class="card-container">
    <app-patient-appointments [userID]="userID"></app-patient-appointments>
  </div>
</div>



  
  