<!-- <div class="sidebar">
    <ul>
      <br>
      <hr>
      <li (click)="navigateToInfo()"><i class="fa-solid fa-circle-info"></i> Information</li>
      <li (click)="navigateToAppointments()"><i class="fa-solid fa-calendar-check"></i> Appointments</li>
      
      <li (click)="navigateToLogin()"> <i class="fa-solid fa-right-from-bracket"></i>Sign out</li>
    </ul>
  </div>
  
  <div class="main-content">
 
     User Info at the top right -->
    <!-- <div class="d-flex justify-content-end align-items-center mb-3">
      <i class="fa-regular fa-circle-user me-2"></i> <strong>Hello, Dr. Ali</strong>
    </div>
    <router-outlet></router-outlet>
  </div>  -->
  

  <router-outlet></router-outlet>