# Ignore personal user's secrets
secrets.json

# Ignore build results
**/bin/
**/obj/

# User-specific files
*.user
*.suo

# Ignore dependency directories
/node_modules/
/packages/

# Ignore configuration files (IDE settings)
.vscode/
.idea/

# Log files
*.log

# Ignore temporary files created by OS
.DS_Store         # macOS
Thumbs.db         # Windows

# Ignore sensitive files like .env
.env

# Ignore Visual Studio-specific files
.vs/

# ASP.NET Core Environment Specific
appsettings.json
appsettings.Development.json

# Compiled Files
*.dll
*.exe
*.pdb

# Angular/Frontend build artifacts
dist/
