/* create-doctor.component.css */
.card {
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  .card-header {
    font-weight: bold;
    background-color: #f8f9fa;
  }
  
  .form-group {
    margin-bottom: 1rem;
  }
  
  .btn {
    margin-right: 5px;
    border-radius: 20px;
  }

  .createBtn{
    color: white;
    background-color: #1B6C70;
    border-color: #1B6C70;
    border-radius: 20px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    vertical-align: middle;
    border: 1px solid transparent;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, color 0.15s ease-in-out;
  }

  .createBtn:hover {
    background-color: #155f5b;
    border-color: #155f5b;
}