<div class="signin-container">
    <h2>Sign In</h2>
  
    <!-- Error Message Display -->
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  
    <form (ngSubmit)="signIn()">
      <div>
        <label for="userID">ID:</label>
        <input type="userID" id="userID" [(ngModel)]="userID" name="userID" required />
      </div>
  
      <div>
        <label for="password">Password:</label>
        <input type="password" id="password" [(ngModel)]="password" name="password" required />
      </div>
  
      <button type="submit">Sign In</button>
    </form>
  </div>
  
