<div class="signin-page">
  <div class="signin-wrapper">
    <h2 class="signin-title">Sign In</h2>

    <!-- Error Message -->
    <div *ngIf="errorMessage" class="signin-error">
      {{ errorMessage }}
    </div>

    <form (ngSubmit)="signIn()" class="signin-form">
      <input type="text" [(ngModel)]="userID" name="userID" required class="signin-input" placeholder="ID" />
      <input type="password" [(ngModel)]="password" name="password" required class="signin-input" placeholder="Password" />
      <button type="submit" class="signin-button">Sign In</button>
    </form>
  </div>
</div>




  
  
