<!-- admin.component.html -->
<div class="layout">
    <aside class="sidebar">
        <!-- استخدام routerLink بدلاً من (click) -->
        <a [routerLink]="['/admin/dashboard']">Dashboard</a>
        <a [routerLink]="['/admin/createPatient']">إنشاء مريض</a>
        <a [routerLink]="['/admin/create-doctor']">Create doctor</a>
        <a [routerLink]="['/admin/doctors']">All doctors</a>
        <a [routerLink]="['/admin/appointments/create']">Create Appointment</a>
    </aside>

    <main class="main-content">
        <router-outlet></router-outlet> <!-- مكان عرض المكونات الفرعية -->
    </main>
</div>